absl-py==2.1.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
altair==5.3.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astor==0.8.1
astroid==2.7.5
astropy==4.3.1
astunparse==1.6.3
async-timeout==4.0.3
atomicwrites==1.4.0
attrs==21.2.0
Automat==20.2.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.2.0
beautifulsoup4==4.9.3
binaryornot==0.4.4
bitarray==2.3.1
bkcharts==0.2
black==21.10b0
bleach==3.3.0
blinker==1.8.2
blis==0.7.9
bokeh==2.3.3
boto3==1.20.23
botocore==1.23.23
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.4
catalogue==2.0.8
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
cloudpickle==2.0.0
clyent==1.2.2
colorama==0.4.6
colorcet==2.0.6
comtypes==1.1.10
conda==4.10.3
conda-build==3.21.4
conda-package-handling==1.7.3
conda-repo-cli==1.0.20
conda-verify==3.4.2
cryptography==35.0.0
cssselect==1.1.0
customtkinter==5.1.3
cycler==0.10.0
cymem==2.0.7
Cython==0.29.24
cytoolz==0.11.0
daal4py==2021.6.0
darkdetect==0.8.0
dask==2021.11.2
datashader==0.12.4
datashape==0.5.4
debugpy==1.4.1
decorator==5.1.0
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.4
distributed==2021.11.2
distro==1.9.0
dlib==19.24.6
dnspython==2.1.0
docutils==0.17.1
entrypoints==0.3
et-xmlfile==1.1.0
fastjsonschema==2.15.1
filelock==3.4.0
flake8==4.0.1
Flask==2.1.1
Flask-Cors==5.0.0
Flask-PyMongo==2.3.0
flatbuffers==2.0
fonttools==4.25.0
frozenlist==1.4.1
fsspec==2021.10.1
future==0.18.2
gast==0.6.0
gensim==4.1.2
gitdb==4.0.11
GitPython==3.1.24
glob2==0.7
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.42.0
h11==0.14.0
h5py==3.5.0
HeapDict==1.0.1
helper==2.5.0
holoviews==1.14.9
httpcore==0.13.7
httpx==0.21.1
hvplot==0.7.0
hyperlink==21.0.0
idna==3.3
imagecodecs==2021.8.26
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.8.2
importlib_resources==5.2.0
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
intake==2.6.0
intervaltree==3.0.2
ipykernel==6.4.1
ipython==7.31.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.0
itemadapter==0.4.0
itemloaders==1.0.4
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.1
jellyfish==0.8.3
Jinja2==3.0.3
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.1.0
json5==0.9.6
jsonschema==4.2.1
jupyter==1.0.0
jupyter-console==6.4.0
jupyter-server==1.13.0
jupyter_client==7.1.2
jupyter_core==4.9.1
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.0
jupyterlab-widgets==1.0.2
keras==2.8.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==23.0.1
Kivy==2.1.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
kiwisolver==1.3.2
langcodes==3.3.0
lazy-object-proxy==1.7.1
libarchive-c==2.9
libclang==13.0.0
llvmlite==0.38.0
locket==1.0.0
lxml==4.6.3
lz4==4.0.0
Markdown==3.3.4
markdown-it-py==3.0.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mdurl==0.1.2
